body {
  background:white;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Merriweather', serif; */
  padding: 0px;
  margin: 0px;
}
.header {
  background-color: skyblue;
  padding: 20px;
  text-align: center;
}

h1, h2{
  font-family: 'calibri';
  margin: 0px;
  padding: 0px;
}
h3 {
  font-size: 1.23em;
  color: #a22a2a;
  margin-bottom: 20px;
}
h4.balance{
  text-align:right;
  color: blue;
}
h5{
  font-size: 1.23em;
  color: blue;
  margin-bottom: 20px;
}


h4 {
  font-size: 1em;
  color: #108097;

  margin-bottom: 20px;
}
h1 {
  font-size: 2.18em;
  color: #7C4D90;
  margin-bottom: 20px;
}

a, a:link, a:visited {
  color: #1C5DB2;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color:#7C4D90;
}

nav {
  padding: 20px;
  margin: 0px;
  padding-right:25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
  flex-direction: row-reverse;

}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid darkred;
  color: #108E64;
  padding-left: 25px;
}
