td, th {
  text-align:justify;
}

td {
  padding: 10px 20px 0px 0px;
}

thead{
  text-decoration-color: red;
}
th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid white;
}
/* tfoot{
  padding: 0px 20px 10px 0px;
  border-bottom: 15px solid red ;
} */

table {
  border-collapse: collapse;
}
