<form  method="post" action="/spending_tracker/category" >
  <label for="category_name">Category</label>
  <input id= "category_name" type="text" name="name" >
  <input type="submit" value="create category"/>
</form>


<h4>Existing categorise</h4>
<%@categories.each do |category|%>
<p><%=category.name%> </p>

<form  method="post" action="/spending_tracker/category/<%= category.id%>" >
  <input type="submit" value="delete category"/>
</form>

<% end %>
