
<table>
  <thead>
  <tr>
    <th>Category</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
    <%@transactions.each do |transaction|%>
    <tr>
      <td><%=transaction.category_name %></td>
      <td><%= transaction.amount %></td>
      <td><a href="/spending_tracker/category/<%= transaction.category_name%>">details</a></td>
    </tr>
    
      </tbody>
    <% end %>
</table>
