
<table>
  <thead>
    <tr>
      <th><h3>Category</h3></th>
      <th><h3>Amount</h3></th>
    </tr>
  </thead>
  <tbody>
    <%@transactions.each do |transaction|%>
    <tr>
      <td><%=transaction.category_name %></td>
      <td><%= transaction.amount %></td>
      <td><a href="/spending_tracker/category/<%= transaction.category_name%>">details</a></td>
    </tr>

  </tbody>
  <% end %>
</table>
