<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>
   <link rel="stylesheet" type="text/css" href="/styles/style.css">
   <h1> Spending Tracker </h1>
  </head>
  <body>
    <body>
      <div>
      <h3 class="transactions">Menu</h3>
      <a href="/spending_tracker" >All Transactions </a>
      <a href="/spending_tracker/transactions" >Add Transactions </a>
      <a href="/spending_tracker/merchant" >view by merchant</a>
      <a href="/spending_tracker/category" >view by category</a>
    </div>

  </body> -->


  <!DOCTYPE html>
  <html>
  <head>
    <title>spending_tracker</title>
    <h1> Spending Tracker </h1>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

    <link rel="icon" href="/images/hazard.png" />

    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  </head>
  <body>
  <main class="flex flex--row">
    <nav>
      <ul>
        <li>
          <a href="/spending_tracker">All Transactions</a>
        </li>
        <li>
          <a href="/spending_tracker/transactions">Add Transactions</a>
        </li>
        <li>
          <a href="/spending_tracker/merchant">view by merchant</a>
        </li>
        <li>
          <a href="/spending_tracker/category">View by category</a>
        </li>
        <li>
          <a href="/spending_tracker/category/new">Create Category</a>
        </li>
        <li>
          <a href="/spending_tracker/merchant/new">Create Merchant</a>
        </li>
      </ul>
    </nav>
    <section id="content">
    <%= yield %>
    </section>
    </main>
  </body>
  </html>
