<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts</title>
   <!-- <link rel="stylesheet" type="text/css" href="/styles/style.css"> -->
  </head>
  <body>
     <%=yield%>
  </body>
</html>
