<form  method="post" action="/spending_tracker/transactions">
  <label for="categories">Category :</label>
  <select id="categories" name="category_id">
    <%@categories.each do |category|%>
      <option value=<%= category.id %>> <%=category.name %></option>
    <% end %>
    </select>
      <label for="merchants">Merchant :</label>
    <select id="merchants" name="merchant_id">
      <%@merchants.each do |merchant|%>
        <option value=<%=merchant.id %>> <%=merchant.name %></option>
      <% end %>
      </select>
      <label for="amount">Amount</label>
    <input id= "amount" type="number" name="amount" >
    <input type="submit" value="Add transaction"/>
</form>
