<form  method="post" action="/spending_tracker/merchant" >
  <label for="merchant_name">Firstname</label>
  <input id= "merchant_name" type="text" name="name" >
    <input type="submit" value="create merchant"/>
    <input type="submit" value="delete merchant"/>
    <input type="submit" value="edit merchant"/>
</form>
