

<table>
  <tr>

    <th style="width:30%;"><h3>Merchant</h3></th>
    <th style="width:30%;"><h3>Amount</h3></th>
      <th style="width:70%;"><h3>Number of visits</h3></th>
    <!-- <th>merchant</th>
    <th>Amount</th>
    <th>Number of visits</th> -->

  </tr>
  <%@transactions.each do |transaction|%>
  <tr>
    <td><%=transaction.merchant_name %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.frequency %></td>
  </tr>
  <% end %>
</table>
